<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>all articles</h1>
    <div style="background-color: orange;color: #000;padding: 20px;;"><% for (       
    let article of allarticles) { %><h1 style="background-color: aqua;">
        <%= article.title %> <br></h1><% } %></div>
</body>
</html>